{% load static %}
{% block content %}
      <footer>
        <div class="social">

        </div>
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-2">
          </div>
          <div class="col-md-2">
          </div>
          <div class="col-md-2">
          </div>
          <div class="col-md-3">
            <a href="/contacto">
                <img class="logo_unif" src="{% static 'img/logo_unif.png' %}" class="logo" style="margin-top: 10px; float: right;"/>
            </a>
          </div>
        </div>
      </footer>
{% endblock %}