/*Menu*/

menu {
    position: absolute;
    width: 100%;
    position: fixed;
    height: 70px;
    z-index: 11;
    background-color: #4249b1;
    box-shadow: 0 3px 25px #000000a3;
    top: 0;
    margin-top: 0px;
}

.menu-logo {
    float: left;
}

.menu-logo img {
    height: 70px;
    top: -5px;
    position: relative;
    padding: 5px;
}

.navbar {
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 5px;
    font-family: Archia;
}

.navbar-nav {
    float: right;
    padding-top: 10px;
}

ul.nav li {
    overflow: hidden;
}

ul.nav li:hover {
    overflow: visible;
}

ul.nav li.desplegable a {
    padding-right: 20px;
}

ul.nav li a {
    color: white;
    font-size: 14px;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.59);
    padding-top: 11px;
    padding-bottom: 12px;
}

ul.nav li:hover ul.submenu {
    opacity: 1;
    transition: opacity 0.5s linear;
}

ul.nav li ul.submenu {
    background-color: white;
    font-size: 14px;
    padding: 10px;
    color: #666;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-width: 300px;
    text-align: center;
    position: absolute;
    list-style: none;
    opacity: 0;
    transition: opacity 0.1s linear;
}

ul.nav li ul.submenu li {
    text-align: left;
    padding-left: 10px;
    border-bottom: 1px dotted #e2e2e2;
    padding-top: 5px;
    padding-bottom: 5px;
}

ul.nav li ul.submenu li a {
    background: none;
    color: inherit !important;
    text-shadow: none;
    font-size: inherit;
    text-decoration: none;
}

ul.nav li ul.submenu li:focus,
ul.nav li ul.submenu li:hover,
ul.nav li ul.submenu li:active {
    color: #cbb171;
    cursor: pointer;
}

ul.nav li span.triangle {
    color: rgba(255, 255, 255, 0.2);
    position: absolute;
    right: 4px;
    font-size: 10px;
    top: 18px;
}

ul.nav li:hover span.triangle {
    color: #fff;
}

.navbar-collapse.mobile-only {
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 0;
    position: absolute;
    top: 69px;
    left: 0;
}

.navbar-collapse.mobile-only .navbar-nav {
    float: none;
    background: #00000082;
    margin: auto;
}

.nav>li:focus a,
.nav>li:hover a,
.nav>li:active a {
    background: none;
    background-color: rgba(0, 0, 0, 0.2);
}

.navbar-right {
    margin-top: 5px;
}

.navbar-toggle .icon-bar {
    background: white;
}